{% extends 'product/layout/appheader.html' %}
{% block part1 %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Contact Us</h1>
  <p class="font-weight-bold">For Booking new course: 01018404884</p>
  <p class="font-weight-bolder">My loction: Mansoura</p>


<!--  <p class="font-weight-normal">Normal weight text.</p>-->
<!--  <p class="font-weight-light">Light weight text.</p>-->
<!--  <p class="font-weight-lighter">Lighter weight text.</p>-->
<!--  <p class="font-italic">Italic text.</p>-->
</div>

{% endblock %}

</body>
</html>
